<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webmyne.daryabherbarium"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >



    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- for most things, including card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.wm.model.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/_DH" >
        <activity
            android:name="com.wm.dh_activity.Launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wm.registration.RegistrationActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.wm.registration.LoginActivity" >
        </activity>
        <activity android:name="com.wm.dh_activity.ProductMain" >
        </activity>
        <activity android:name="com.wm.dh_activity.SearchActivity" >
        </activity>
        <activity android:name="com.wm.dh_activity.DisplayGridProducts" >
        </activity>
        <activity android:name="com.wm.dh_activity.ProductDetails" >
        </activity>
        <activity android:name="com.wm.dh_activity.Inquiry" >
        </activity>
        <activity android:name="com.wm.dh_activity.BuyRegistration" >
        </activity>
        <activity android:name="com.wm.dh_activity.BuyRegistrationFormUserInfo" >
        </activity>
        <activity android:name="com.wm.dh_activity.BuyRegistrationFormAddresses" >
        </activity>
        <activity android:name="com.wm.dh_activity.Payment" >
        </activity>
        <activity android:name="com.wm.fileattachment.FileChooserActivity" >
        </activity>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
    </application>

</manifest>